.tooltip {
  min-width: 232px;
  max-width: 486px;
  padding: 16px 20px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
  background: var(--bg-widget);
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
}

.tooltip_title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-relaxed);
  white-space: nowrap;
}

.tooltip_body {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px 24px;

  &:not(&:empty) {
    margin-top: 8px;
  }
}

.tooltip_row_label {
  color: var(--text-primary);
  white-space: nowrap;
}

.tooltip_row_value {
  color: var(--base-white);
}
