.vehicle_marker {
  --marker-color: var(--base-white);
  --wheel-fill: var(--bg-widget);

  position: relative;
  display: flex;
  align-items: center;

  &.hovered .vehicle_label {
    color: var(--base-white);
    background-color: var(--orem-bw-700);
  }

  &.selected {
    .vehicle_icon,
    .vehicle_label {
      background-color: var(--base-orange);
    }
  }

  &.non_interactive {
    pointer-events: none;
  }
}

.vehicle_icon {
  display: block;
  flex-shrink: 0;
  color: var(--marker-color);
}

.vehicle_label {
  position: absolute;
  bottom: -20px;
  left: 50%;
  max-width: 236px;
  padding: 2px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--base-white);
  background-color: var(--bg-widget);
  transform: translateX(-50%);
}

.vehicle_wrapper {
  user-select: none;
  border-radius: 4px;
}
