.root {
  --header-margin: 0;
  --header-min-height: unset;
}

.header {
  display: flex;
  align-items: center;
  min-height: var(--header-min-height);
  margin: var(--header-margin);
}

.trigger {
  display: flex;
  gap: 2px;
  align-items: center;
  min-width: 0;
  padding: 0;
  margin-right: 6px;

  &[data-disabled],
  &[data-locked] {
    cursor: default;
  }
}

.chevron {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var(--text-primary);
  transition: transform 0.2s ease;

  &[data-opened='true'] {
    transform: rotate(180deg);
  }

  &[data-hidden='true'] {
    opacity: 0;
  }
}

.label {
  min-width: 0;
  max-width: 182px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
}

.left_section {
  display: flex;
  flex-shrink: 0;
  gap: 4px;
  align-items: center;
}

.right_section {
  display: flex;
  flex-shrink: 0;
  gap: 2px;
  align-items: center;
  margin-left: auto;
}
