.page_content {
  position: relative;
  z-index: var(--z-index-default);
  padding: 6px 8px 6px 6px;
  background-color: var(--bg-widget);
  border: 2px solid var(--bg-page);
}

.page_default {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page_table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
