.button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: end;
  height: 232px;
  padding: 16px;
  color: var(--base-white);
  text-align: start;
  cursor: pointer;
  border: 1px solid rgb(113 118 129 / 100%);
  border-radius: 8px;

  &.pgr,
  &.vgok,
  &.learning,
  &.clone,
  &.orem,
  &.asodu {
    background-image: var(--gradient-overlay), var(--gradient-main), var(--bg-image);
    background-position: center;
    background-size: cover;
  }

  &.pgr {
    --bg-image: url('../../assets/images/pgr.webp');
  }

  &.vgok {
    --bg-image: url('../../assets/images/vgok.webp');
  }

  &.learning {
    --bg-image: url('../../assets/images/learning.webp');
  }

  &.clone {
    --bg-image: url('../../assets/images/clone.webp');
  }

  &.orem {
    --bg-image: url('../../assets/images/orem.webp');
  }

  &.asodu {
    --bg-image: url('../../assets/images/asodu.webp');
  }

  &:hover {
    border-color: rgb(254 252 249 / 100%);
  }

  @mixin extra_wide {
    height: 170px;
  }
}

.button_title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

.button_description {
  font-size: var(--font-size-md);
  line-height: var(--line-height-relaxed);
}
