.tooltip {
  max-width: 320px;
  padding: 8px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-loose);
  color: var(--base-white);
  overflow-wrap: break-word;
  background-color: var(--bg-widget-hover-2);
  border-radius: 6px;
  box-shadow: none;
}
