.empty_tbody {
  width: 100%;
}

.empty_cell {
  padding: 0;
  text-align: center;
  /* stylelint-disable-next-line declaration-no-important */
  background-color: transparent !important;
  border: none;
}

.empty_content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  padding: 0 0 0 10px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
}
