.grid_layout {
  --resize-line-size: 4px;

  height: 100%;
}

.dragging,
.dragging * {
  user-select: none;
}

.page {
  padding: 20px;
  background-color: var(--bg-page);
  border: unset;
}

/* Стили для областей которые можно перетаскивать и менять размеры */
.grid_layout :global(.react-grid-item > .react-resizable-handle) {
  position: absolute;
  z-index: var(--z-index-default);
  width: var(--resize-line-size);
  height: 100%;
  cursor: ew-resize;
  user-select: none;
  background: transparent;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-e) {
  top: 0;
  right: 0;
  margin: 0;
  transform: unset;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-w) {
  top: 0;
  left: 0;
  margin: 0;
  transform: unset;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-n) {
  top: 0;
  left: 0;
  width: 100%;
  height: var(--resize-line-size);
  margin: 0;
  transform: unset;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-s) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--resize-line-size);
  margin: 0;
  transform: unset;
}

/* Стили для угловых областей которые можно перетаскивать и менять размеры */
.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-sw) {
  bottom: -4px;
  left: -4px;
  z-index: var(--z-sidebar);
  width: 16px;
  height: 16px;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-se) {
  right: 0;
  bottom: -4px;
  z-index: var(--z-sidebar);
  width: 16px;
  height: 16px;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-nw) {
  top: -4px;
  left: -4px;
  z-index: var(--z-sidebar);
  width: 16px;
  height: 16px;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle.react-resizable-handle-ne) {
  top: -4px;
  right: 0;
  z-index: var(--z-sidebar);
  width: 16px;
  height: 16px;
}

.grid_layout :global(.react-grid-item:hover .react-resizable-handle-e),
.grid_layout :global(.react-grid-item:hover .react-resizable-handle-w) {
  background: var(--bg-widget-hover);
}

.grid_layout :global(.react-grid-item:hover .react-resizable-handle-n),
.grid_layout :global(.react-grid-item:hover .react-resizable-handle-s) {
  background: var(--bg-widget-hover);
}

.grid_layout :global(.react-grid-item .react-resizable-handle-e:hover),
.grid_layout :global(.react-grid-item .react-resizable-handle-w:hover),
.grid_layout :global(.react-grid-item .react-resizable-handle-n:hover),
.grid_layout :global(.react-grid-item .react-resizable-handle-s:hover) {
  z-index: var(--z-sidebar);
  background: var(--primary);
}

.grid_layout :global(.react-grid-item:hover .react-resizable-handle-sw),
.grid_layout :global(.react-grid-item:hover .react-resizable-handle-se),
.grid_layout :global(.react-grid-item:hover .react-resizable-handle-nw),
.grid_layout :global(.react-grid-item:hover .react-resizable-handle-ne) {
  background: transparent;
}

.grid_layout :global(.react-grid-item > .react-resizable-handle::after) {
  border-right: none;
  border-bottom: none;
  opacity: 0;
}

.grid_layout :global(.react-grid-item.react-grid-placeholder) {
  background: var(--primary);
  opacity: 0.3;
}
