.calendar-day {
  &[data-weekend='true']:not([data-selected], [data-disabled]) {
    color: var(--orem-orange-100);
  }

  &[data-today][data-highlight-today='true']:not([data-selected], [data-in-range]) {
    border: 1px solid var(--base-orange);
  }

  &[data-selected],
  [data-first-in-range],
  [data-last-in-range] {
    background-color: var(--base-orange);
  }

  &[data-in-range]:not([data-selected]) {
    background-color: var(--orem-orange-800);
  }
}
