# Core
LOG_LEVEL=INFO
HOST=0.0.0.0
PORT=8000
TIMEZONE=Europe/Moscow

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=trip_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ (nested: RABBIT__*)
RABBIT__HOST=localhost
RABBIT__PORT=5672
RABBIT__USER=admin
RABBIT__PASSWORD=public
RABBIT__HANDLER_DELAY=60

# Nanomq (MQTT)
NANOMQ_HOST=localhost
NANOMQ_PORT=1883

# Enterprise Service
ENTERPRISE_SERVICE_HOST=10.100.109.13
ENTERPRISE_SERVICE_PORT=8002
ENTERPRISE_VEHICLE_INFO_PATH=/api/vehicles/{vehicle_id}
ENTERPRISE_MODEL_INFO_PATH=/api/vehicle-models/{model_id}
ENTERPRISE_HTTP_TIMEOUT_SECONDS=5.0

# Graph Service
GRAPH_SERVICE_HOST=10.100.109.13
GRAPH_SERVICE_PORT=5001

# Trip Service
VEHICLE_ID=4
SERVICE_MODE=bort
