.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.label {
  font-size: var(--font-size-lg);
  color: var(--text-primary);
}

.error {
  margin: 0;
  font-size: var(--font-size-md);
  color: var(--orem-red-400);
}
