.place_marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hovered .place_label {
    color: var(--base-white);
    background-color: var(--orem-bw-700);
  }

  &.selected .place_label {
    color: var(--base-white);
    background-color: var(--base-orange);
  }

  &.non_interactive {
    pointer-events: none;
  }
}

.place_icon {
  display: block;
  flex-shrink: 0;
  padding-right: 4px;
}

.place {
  position: absolute;
  left: 24px;
  max-width: 236px;
}

.place_label {
  padding: 2px 4px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--orem-orange-300);
  white-space: nowrap;
  user-select: none;
  background-color: var(--bg-widget);
  border-radius: 4px;
}

.hint {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
}
