.root {
  position: relative;
}

.circle {
  transition: stroke-dashoffset 0.3s ease;
}

.progress {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 100%;
  font-size: var(--font-size-xs);
  text-align: center;
  transform: translate(-50%, -50%);
}
