.root {
  position: fixed;
  z-index: var(--z-sticky);
  width: 272px;
  padding: 8px;
  background: var(--bg-widget);
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
  transition: opacity 0.2s ease;
}

.title_container {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 3px 7px;
  margin-bottom: 4px;
  color: var(--base-white);
}

.title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-loose);
}
