.root {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 24px;
  cursor: pointer;
  background-color: var(--orem-bw-000-25);
  border-radius: 8px;
}

.arrow_icon {
  transition: 0.3s;

  &.opened {
    transform: rotate(180deg);
  }
}
