.favorites {
  min-height: 196px;
  margin-bottom: 36px;
}

.heading {
  margin-bottom: 12px;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-normal);
  color: var(--base-white);
}

.home_page {
  padding: 20px 8px 4px 20px;
  background-color: var(--bg-page);
  border: unset;
}
