.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  min-height: 200px;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error_text {
  margin-left: 16px;
  font-size: var(--font-size-sm);
  color: var(--orem-red-400);
}
