HOST=localhost
PORT=8000
MODE=local

S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin123
S3_ENDPOINT_URL=http://minio:9000
S3_REGION_NAME=us-east-1


RABBIT_USER=rabbit
RABBIT_PASSWORD=rabbit
RABBIT_HOST=localhost
RABBIT_PORT=5672


CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_MIGRATION_PORT=9005
CLICKHOUSE_USERNAME=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_DATABASE=default
