.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .items_container {
    display: flex;
    gap: 1px;
    min-width: fit-content;
  }

  &.horizontal {
    .items_container {
      flex-direction: column;
    }
  }

  &.vertical {
    .items_container {
      flex-wrap: wrap;
    }
  }
}

.no_data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
