.text_input_root {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 16px;
  align-items: center;
}

.text_input_label {
  font-size: var(--font-size-sm);
}

.inputs_container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.map_button {
  flex-shrink: 0;
}
