.content_string {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 16px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-loose);
}

.string_title {
  color: var(--text-primary);
}

.string_info_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.string_info {
  display: flex;
  flex: 1;
  color: var(--base-white);
}
