.body {
  margin-top: 8px;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-normal);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.block_title {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--text-secondary-2);
}

.content_block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  margin-top: 16px;

  @mixin mobile {
    flex-wrap: wrap;
  }
}
