.page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0;
  margin-bottom: 4px;

  h1 {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-loose);
  }
}

.page_header_drag {
  flex-grow: 1;
}

.page_header_wrapper {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;
  min-width: 0;
}

.page_title_wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.page_icon {
  flex-shrink: 0;
  align-self: flex-start;
  color: var(--base-orange);
}
