.route_task_status {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-loose);

  svg {
    color: var(--text-placeholder);
    cursor: help;
  }
}

.variant_default {
  color: var(--status-warning-light);
}

.variant_sent {
  color: var(--status-warning);
}

.variant_delivered {
  color: var(--status-warning-dark);
}

.variant_active {
  color: var(--status-info-light);
}

.variant_paused {
  color: var(--status-muted);
}

.variant_completed {
  color: var(--status-success-light);
}

.variant_rejected {
  color: var(--orem-red-300);
}
