HOST=localhost
PORT=8000
MODE=development

POSTGRES_DATABASE=dump_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=admin
REDIS_PASSWORD=admin
REDIS_CACHE_DATABASE=0


S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin123
S3_ENDPOINT_URL=http://localhost:9000
S3_REGION_NAME=us-east-1


NANOMQ_HOST=localhost
NANOMQ_PORT=1883

TRUCK_ID=4



TRIP_SERVICE_POSTGRES_DATABASE=trip_service
TRIP_SERVICE_POSTGRES_USER=postgres
TRIP_SERVICE_POSTGRES_PASSWORD=postgres
TRIP_SERVICE_POSTGRES_HOST=localhost
TRIP_SERVICE_POSTGRES_PORT=5432
