.input {
  box-sizing: border-box;
  width: 100%;
  min-height: 72px;
  padding: var(--spacing-md) var(--spacing-lg);
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  font-family: var(--font-sans), monospace;
  font-size: var(--font-size-3xl);
  color: var(--text-primary);
  outline: none;
  background-color: var(--bg-widget);
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
}

.input:focus-visible {
  outline: var(--outline-primary);
}

.input_selected {
  border-color: transparent;
  box-shadow: inset 0 0 0 2px var(--base-orange-2);
}

.input_error {
  border-color: var(--orem-red-500);
  box-shadow: none;
}
