.modal {
  &.confirm_modal {
    &.size_sm {
      --modal-size-md: 462px;
    }

    &.size_md {
      --modal-size-md: 530px;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    flex-grow: 1;
    gap: 8px;
    margin-top: 16px;

    @mixin mobile {
      flex-wrap: wrap;
    }
  }

  .title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
  }

  .message {
    margin-top: 8px;
    font-size: var(--font-size-md);
    line-height: var(--line-height-relaxed);
    color: var(--text-primary);
    overflow-wrap: break-word;
  }
}
