.count_container {
  min-width: 18px;
  padding: 0 5px;
  font-size: var(--font-size-xs);
  color: var(--base-white);
  background-color: var(--base-orange);
  border-radius: 4px;

  &.empty {
    background-color: transparent;
  }
}
