.wrapper {
  --input-bg: transparent;
}

/* По дефолту data-variant='default' = input_clear https://www.figma.com/design/yYTzipisVmqxISBKJejsdJ/%D0%90%D0%A1%D0%A3-%D0%93%D0%A2%D0%9A-for-me?node-id=1404-148201&t=RsdQw60KSOmMVNTQ-4 */
.input {
  --input-placeholder-color: var(--text-placeholder);
  --nir-input-error-color: var(--orem-red-400);

  height: var(--input-size);
  min-height: var(--input-height);
  padding-inline-start: var(--input-padding);
  text-overflow: ellipsis;
  font-size: var(--input-fz);
  line-height: var(--input-lh);
  color: var(--nir-input-color, var(--base-white));
  caret-color: var(--nir-input-caret-color, var(--primary));
  background-color: var(--nir-input-bg-color, transparent);
  border: 1px solid var(--nir-input-border-color, transparent);
  border-radius: var(--input-radius, 8px);
  transition: all 0.2s ease;

  &::placeholder,
  .placeholder {
    font-size: var(--input-fz);
    line-height: var(--input-lh);
  }

  &:disabled,
  &[data-disabled] {
    cursor: not-allowed;
    opacity: 1;
  }

  /* input_clear */
  &[data-variant='default'] {
    &[data-error],
    &:hover,
    &:focus {
      --nir-input-bg-color: var(--orem-netural-01);
      --input-placeholder-color: var(--text-primary);
    }

    &:disabled,
    &[data-disabled] {
      --input-placeholder-color: var(--text-placeholder);

      &:hover,
      &:focus {
        --nir-input-bg-color: transparent;
      }
    }
  }

  &[data-variant='filled'] {
    --nir-input-bg-color: var(--bg-widget-hover);
    --input-placeholder-color: var(--text-primary);

    &:hover,
    &:focus {
      --nir-input-bg-color: var(--bg-widget-hover-2);
    }

    &[data-error] {
      --nir-input-bg-color: var(--bg-widget-hover);
    }

    &:disabled,
    &[data-disabled] {
      --input-placeholder-color: var(--text-secondary-2);
    }
  }

  &[data-variant='outline'] {
    --nir-input-border-color: var(--text-secondary);
    --input-placeholder-color: var(--text-primary);

    &:hover {
      --nir-input-border-color: var(--text-primary);
    }

    &:focus {
      --nir-input-border-color: var(--primary);
    }

    &:disabled,
    &[data-disabled] {
      --input-placeholder-color: var(--text-secondary);

      &:hover {
        --nir-input-border-color: var(--text-secondary);
      }
    }
  }

  &[data-variant='unstyled'] {
    &:hover,
    &:focus {
      --nir-input-bg-color: var(--orem-netural-20);
    }

    &:disabled,
    &[data-disabled] {
      &:hover,
      &:focus {
        --nir-input-bg-color: transparent;
      }
    }
  }

  &[data-variant='combobox-primary'] {
    --nir-input-bg-color: var(--orem-bw-950);
    --nir-input-border-color: var(--orem-bw-950);
    --input-placeholder-color: var(--text-secondary);

    &:hover {
      --input-placeholder-color: var(--text-secondary-2);
    }

    &:focus {
      --nir-input-border-color: var(--primary);
    }

    &:disabled,
    &[data-disabled] {
      --nir-input-color: var(--text-primary);
      --input-placeholder-color: var(--text-secondary);

      &:hover {
        --input-placeholder-color: var(--text-secondary-2);
      }
    }
  }

  &[data-error] {
    --nir-input-border-color: var(--nir-input-error-color);

    &:hover,
    &:focus {
      --nir-input-border-color: var(--nir-input-error-color);
    }

    &::placeholder,
    .placeholder {
      --input-placeholder-color: var(--text-primary);
    }
  }
}
