.root {
  &[data-input-size='xs'] {
    --label-fz: var(--font-size-sm);
    --error-fz: var(--font-size-xs);
    --description-fz: var(--font-size-xs);

    & .input {
      --input-height: 24px;
      --input-size: 24px;
      --input-radius: 6px;
      --input-padding: 8px;
      --input-fz: var(--font-size-sm);
      --input-lh: var(--line-height-loose);
      --input-padding-y: 0;

      &[data-no-overflow] {
        --input-size: auto;
      }
    }
  }

  &[data-input-size='sm'] {
    --label-fz: var(--font-size-sm);
    --error-fz: var(--font-size-xs);
    --description-fz: var(--font-size-xs);

    & .input {
      --input-height: 28px;
      --input-size: 28px;
      --input-radius: 8px;
      --input-padding: 12px;
      --input-fz: var(--font-size-sm);
      --input-lh: var(--line-height-loose);
      --input-padding-y: 0;

      &[data-no-overflow] {
        --input-size: auto;
      }
    }
  }

  &[data-input-size='md'] {
    --label-fz: var(--font-size-md);
    --error-fz: var(--font-size-sm);
    --description-fz: var(--font-size-xs);

    & .input {
      --input-height: 40px;
      --input-size: 40px;
      --input-radius: 8px;
      --input-padding: 12px;
      --input-fz: var(--font-size-sm);
      --input-lh: var(--line-height-relaxed);
      --input-padding-y: 0;

      &[data-no-overflow] {
        --input-size: auto;
      }
    }
  }

  &[data-input-size='lg'] {
    --label-fz: var(--font-size-lg);
    --error-fz: var(--font-size-md);
    --description-fz: var(--font-size-xs);

    & .input {
      --input-height: 48px;
      --input-size: 48px;
      --input-radius: 8px;
      --input-padding: 16px;
      --input-fz: var(--font-size-lg);
      --input-lh: var(--line-height-normal);
      --input-padding-y: 0;

      &[data-no-overflow] {
        --input-size: auto;
      }
    }
  }

  &[data-input-size='combobox-sm'] {
    --label-fz: var(--font-size-xs);
    --error-fz: var(--font-size-xs);
    --description-fz: var(--font-size-xs);

    & .input {
      --input-height: 24px;
      --input-size: 24px;
      --input-radius: 6px;
      --input-padding: 8px;
      --input-fz: var(--font-size-sm);
      --input-lh: var(--line-height-loose);
      --input-padding-y: 0;

      &[data-no-overflow] {
        --input-size: auto;
      }
    }

    .label {
      margin-bottom: 2px;
    }
  }

  &[data-input-size='combobox-xs'] {
    --label-fz: var(--font-size-xs);
    --error-fz: var(--font-size-xs);
    --description-fz: var(--font-size-xs);

    & .input {
      --input-height: 20px;
      --input-size: 20px;
      --input-radius: 6px;
      --input-padding: 8px;
      --input-fz: var(--font-size-sm);
      --input-lh: var(--line-height-loose);
      --input-padding-y: 0;

      &[data-no-overflow] {
        --input-size: auto;
      }
    }

    .label {
      margin-bottom: 2px;
    }
  }

  &[data-label-position='horizontal'] {
    --label-width: 200px;
    --column-gap: 16px;

    display: grid;
    grid-template-columns: var(--label-width) 1fr;
    column-gap: var(--column-gap);
    align-items: center;

    .error {
      grid-column: 2;
    }
  }
}

.required {
  color: inherit;
}

.label {
  font-size: var(--label-fz);
  color: var(--nir-label-color, var(--text-primary));
}

.description {
  font-size: var(--description-fz);
  color: var(--nir-description-color, var(--text-primary));
}

.error {
  font-size: var(--error-fz);
  color: var(--nir-error-color, var(--orem-red-400));
}
