.connection_info {
  display: none;
  flex-direction: column;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);

  @mixin desktop {
    display: flex;
  }
}

.connection_status {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-secondary);
}

.connection_status_bad {
  color: var(--base-red);
}

.connection_time {
  color: var(--text-primary);
}
