.widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background: var(--bg-widget);
  border: 2px solid var(--bg-page);
  border-radius: 2px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: auto;
}
