.table {
  display: grid;
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
  table-layout: fixed;
  border-collapse: collapse;
  border-color: unset;
}
