.select_wrapper {
  pointer-events: auto;

  & .field.field {
    width: 100px;

    --input-height: 20px;
    --input-size: 20px;
    --input-padding: 4px;

    &:focus,
    &:hover {
      --input-placeholder-color: var(--base-white);

      background-color: var(--orem-bw-000-25);
    }
  }
}
