.link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px 8px;
  color: inherit;
  outline: var(--outline-width) var(--outline-style) transparent;
  outline-offset: var(--outline-offset);
  border-radius: 8px;

  &:focus-visible {
    border-color: var(--color-outline-primary);
    box-shadow: 0 0 0 3px var(--color-outline-primary);
  }
}

.profile_button {
  padding: 10px 8px;
  color: var(--text-primary);

  &:global([data-expanded='true']) {
    background-color: var(--bg-widget-hover);
  }

  &:global([data-expanded='true']) .chevron_icon {
    transform: rotate(180deg);
  }

  &:hover {
    color: var(--base-white);
  }
}

.profile_text {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: var(--font-size-sm);
  line-height: 0;
}

.chevron_icon {
  width: 16px;
  height: 16px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: transform;
}
