# FastAPI Configuration
DEBUG=true
HOST=0.0.0.0
PORT=8001
RELOAD=true

# Database Configuration
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/enterprise_db
DATABASE_POOL_SIZE=20
DATABASE_MAX_OVERFLOW=30
DATABASE_ECHO=false

# Redis Configuration
REDIS_URL=redis://localhost:6379/0

# Timezone
TIMEZONE=Europe/Moscow

# Logging
LOG_LEVEL=INFO

# Api
API_CLIENT__BASE_GRAPH_SERVICE_URL="test"
API_CLIENT__PLACE="test"
