.page_title {
  display: flex;
  gap: 4px;
  align-items: center;
}

.sticky_page {
  padding-top: 0;
}

.sticky_header {
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);
  min-height: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  background-color: var(--bg-widget);
}
