.root {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--text-primary);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;

  &.active {
    &:hover {
      color: var(--base-white);
      background-color: var(--orem-bw-000-25);
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.opened {
    color: var(--base-white);
    background-color: var(--orem-bw-000-25);
  }
}

.arrow_icon {
  flex-shrink: 0;
  transition: 0.3s;

  &.opened {
    transform: rotate(180deg);
  }
}
