.root {
  position: fixed;
  z-index: var(--z-sticky);
  width: 270px;
  transition: opacity 0.2s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-inline: 8px;
  background: var(--bg-widget);
  border: 1px solid var(--text-secondary);
  border-radius: 8px;
}

.dropdown {
  background: var(--bg-widget);
  border: 1px solid var(--text-secondary);
}

.menu_item {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 5px 8px;
  font-size: var(--mantine-font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-loose);
  color: var(--text-primary);
  cursor: pointer;
  isolation: isolate;

  &:first-of-type {
    padding-top: 13px;

    &.selected::before,
    &:hover::before {
      top: 8px;
    }
  }

  &:last-of-type {
    padding-bottom: 13px;

    &.selected::before,
    &:hover::before {
      bottom: 8px;
    }
  }

  &.selected,
  &:hover {
    color: var(--base-white);

    &::before {
      position: absolute;
      inset: 0;
      z-index: var(--z-index-behind);
      content: '';
      background-color: var(--orem-bw-000-25);
      border-radius: 8px;
    }
  }
}

.arrow_icon {
  margin-left: auto;
  transform: rotate(-90deg);
}

.item_icon {
  width: 16px;
  height: 16px;
}

.title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-loose);
}
