.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.checkbox {
  position: relative;
  width: 13px;
  height: 13px;
  margin: 0;
  appearance: none;
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 2px;
  transition: all 0.15s ease;

  &:checked {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  &:indeterminate {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline-primary);
    outline-offset: 2px;
  }
}

.icon {
  position: absolute;
  width: 8px;
  height: 7px;
  color: var(--base-white);
  pointer-events: none;
  opacity: 0;
  transition: all 0.15s ease;
}

.checkbox:checked ~ .icon {
  opacity: 1;
}

.indeterminate_icon {
  position: absolute;
  width: 8px;
  height: 2px;
  color: var(--base-white);
  pointer-events: none;
  opacity: 0;
  transition: all 0.15s ease;
}

.checkbox:indeterminate ~ .indeterminate_icon {
  opacity: 1;
}

.checkbox:indeterminate ~ .icon {
  opacity: 0;
}
