.root {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: var(--z-map-behind);
  display: flex;
  gap: 12px;
  align-items: center;
  min-height: 36px;
  padding: 2px 8px 2px 6px;
  background-color: var(--orem-bw-950);
  border-radius: 12px;
}

.zoom_buttons_container {
  display: flex;
  gap: 4px;
  align-items: center;
}
