.loader {
  --orem-bw-000-25: transparent;

  position: relative;
  display: flex;
  flex-grow: 1;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 50px;
  backdrop-filter: blur(12px);
}

.loader_icon {
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
}

.loader_text {
  font-size: var(--font-size-md);
  line-height: var(--line-height-relaxed);
  color: var(--base-white);
}
