.root {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: var(--z-map-behind);
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.item {
  display: flex;
  gap: 12px;
  align-items: center;
  min-height: 26px;
  padding: 4px;
  user-select: none;
  background-color: var(--orem-bw-950);
  border-radius: 6px;
}

.text {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--text-primary);
  white-space: nowrap;
}
