.trigger input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown {
  padding: 0;
  border: none;
}

.textarea_wrapper {
  display: flex;
  flex-direction: column;

  /* Кастомный скроллбар для textarea */
  & textarea {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--orem-netural-01);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--text-primary);
    }

    &::-webkit-scrollbar-thumb:active {
      background: var(--base-white);
    }

    scrollbar-color: var(--orem-netural-01) transparent;
    scrollbar-width: thin;
  }
}

.char_counter {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--text-secondary-2);
}

.active.active {
  border: 1px solid var(--primary);
}

.input {
  width: 100%;
  transition: none;

  &[data-variant='combobox-primary'] {
    padding-top: 2px;
    border: none;

    &:focus {
      border: none;
    }
  }
}
