.option_content {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}

.option_label {
  display: block;
  flex: 1;
  padding: 5px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.option_menu_dropdown {
  padding: 8px;
  background-color: var(--bg-widget-hover-2);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 #3537401f;
}

.option_menu_button {
  flex-shrink: 0;
  align-self: stretch;
  padding: 0 8px;
  color: var(--base-white);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 8px;
  opacity: 0;
  transition:
    opacity 0.15s ease,
    background-color 0.15s ease;

  &:hover {
    color: var(--base-white);
    background-color: var(--orem-bw-000-25);
  }

  &:active {
    color: var(--primary);
  }

  svg {
    position: relative;
    top: 1px;
  }
}

.option_menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delete_button {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 28px;
  padding: 6px 8px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--text-primary);
  text-align: left;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 8px;
  transition: background-color 0.15s ease;

  &:hover {
    color: var(--base-white);
    background-color: var(--orem-bw-000-25);
  }
}
