.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-default);
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-right: 0.75rem;
  background-color: var(--bg-widget);
}

.header_content {
  display: flex;
  align-items: center;
  height: 100%;
}

.app_header_link {
  margin-right: 24px;
  margin-left: 8px;
  user-select: none;
}

.logo_icon {
  position: relative;
  top: 3px;
  display: flex;
  font-family: var(--font-family-murs-gothic);
  font-size: var(--font-size-2md);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-loose);
  vertical-align: middle;
  color: var(--primary);
  text-transform: uppercase;
}

.nav_link {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 60px;
  margin: 0;
  color: var(--base-white);
  white-space: nowrap;
  cursor: pointer;
  outline: var(--outline-width) var(--outline-style) transparent;
  outline-offset: var(--outline-offset);
  background: transparent;
  border: none;
  border-radius: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;

  &:focus-visible {
    border-color: var(--color-outline-primary);
    box-shadow: inset 0 0 0 2px var(--color-outline-primary);
  }

  svg {
    flex-shrink: 0;
    pointer-events: none;
  }

  &:hover {
    color: var(--base-white);
    background-color: var(--accent);
  }

  &:active {
    color: var(--base-orange);
  }
}

.nav_link_active {
  color: var(--primary);
  pointer-events: none;
  background-color: var(--bg-page);

  &:focus-visible {
    border-color: unset;
    box-shadow: unset;
  }
}

.right_section {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
