.toolbar {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  align-items: center;
  overflow: hidden;

  > * {
    flex-shrink: 0;
  }

  @mixin extra_wide {
    gap: 24px;
  }
}

.action_buttons_container {
  display: flex;
  gap: 8px;

  @mixin extra_wide {
    gap: 24px;
  }
}

.summary_card_container {
  display: flex;
  flex: 1 0 auto;
  min-width: fit-content;
}

.summary_card {
  padding: 3px 8px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
  text-wrap: nowrap;
  background-color: var(--orem-orange-900);
  border-radius: 6px;

  span {
    display: inline-block;
    max-width: 100px;
    font-weight: var(--font-weight-bold);
    vertical-align: bottom;
  }
}

.submit_button {
  margin-right: 12px;
}

.status_select {
  max-width: 160px;

  & svg {
    color: var(--text-primary);
  }

  &.status_select_responsive_menu {
    max-width: initial;
  }
}

.status_select_input {
  color: var(--text-primary);
}
