.header_cell {
  position: relative;
  padding: 0;
  font-weight: var(--font-weight-normal);
  color: var(--text-primary);
  text-align: left;
  user-select: none;
}

.header_cell_sticky {
  position: sticky;
  left: 0;
  z-index: var(--z-index-default);
  background-color: var(--bg-widget);
}

.header_content {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 13px 12px 21px;
  overflow: hidden;
  border-right: 1px solid transparent;
}

.header_content_checkbox {
  justify-content: center;
  padding-top: 15px;
}

.drag_handle {
  touch-action: none;
  cursor: grab;
  background: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: background-color;

  &:hover {
    background-color: var(--bg-widget-hover);
  }

  &:active {
    cursor: grabbing;
    background-color: var(--bg-widget-hover);
  }
}

.resizer {
  position: absolute;
  top: 0;
  right: -2px;
  width: 5px;
  height: 100%;
  touch-action: none;
  cursor: col-resize;
  user-select: none;
  background: var(--lines-stokes-fa-connector);
  border: none;
  opacity: 0;
  transition: background 0.2s;

  &:hover {
    background: var(--primary);
    opacity: 1;
  }
}

.is_resizing {
  background: var(--primary);
  opacity: 1;
}
