.event_marker {
  position: relative;
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: var(--base-white);
  border: 1px solid var(--text-primary);
  border-radius: 50%;

  &.hovered .vehicle_label {
    color: var(--base-white);
    background-color: var(--orem-bw-700);
  }

  &.selected {
    .vehicle_icon,
    .vehicle_label {
      background-color: var(--base-orange);
    }
  }
}
