.clearable .input,
.with_arrow .input {
  padding-right: 28px;
}

.clear_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;
  color: var(--text-primary);
  cursor: pointer;
  background: transparent;
  border: none;

  &:hover {
    color: var(--base-white);
  }
}

.arrow_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.arrow {
  width: 16px;
  height: 16px;
  color: var(--base-white);
  transition: transform 0.2s ease;
}

.arrow_rotated {
  transform: rotate(180deg);
}
