.modal {
  --mb-padding: 20px;

  .modal_overlay {
    z-index: var(--z-modal-backdrop);
  }

  .modal_inner {
    z-index: var(--z-modal);
  }

  .modal_content,
  .modal_header {
    background-color: var(--bg-widget);
  }

  .modal_content {
    box-shadow: none;
  }

  .modal_header {
    min-height: unset;
    padding: 16px 20px 0;
  }
}
