.input.input {
  grid-template-columns: 1fr;
  margin-bottom: 8px;

  input::placeholder {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-normal);
  }
}

.input_icon {
  color: var(--text-primary);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 4px;
}

.category_container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.category_title {
  padding: 2px 8px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--text-secondary-2);
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 5px 8px;
  color: var(--text-primary);

  &.selectable {
    cursor: pointer;

    &:hover {
      color: var(--base-white);
      background-color: var(--orem-bw-000-25);
      border-radius: 8px;
    }
  }
}

.no_data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
