root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[{*.js,*.jsm,*.jsx,*.ts,*.tsx,*.ts.d,*.vue}]
indent_size = 2

[{*.json,*.json5,*.yml,*.yaml}]
indent_size = 2

[{*.html,*.htm,*.ejs,*.xml,*.svg}]
indent_size = 2

[{*.css,*.less,*.sass,*.scss}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
