# API
VITE_API_AUTH_SERVICE=http://auth-service:8000
VITE_API_ENTERPRISE_SERVICE=http://enterprise-service:8001
VITE_API_TRIP_SERVICE=http://trip-service-server:8000
VITE_API_GRAPH_SERVICE=http://graph-service-backend:5000

# Включить эмуляцию API через MSW для моков данных (true/false)
# VITE_ENABLE_MSW=false

# Базовый URL для API (опционально, используется если нужно изменить base path)
# VITE_API_URL=
