.row {
  display: contents;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
}

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding-right: var(--gap-icon);
  color: var(--base-orange);
}

.name {
  align-self: center;
  padding-right: var(--gap-name);
}

.stock {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  padding-right: var(--gap-stock);
  color: var(--text-secondary-2);
  white-space: nowrap;
}

.horizon {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  padding-right: var(--gap-horizon);
  color: var(--text-secondary-2);
  white-space: nowrap;
}

.actions {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: flex-end;
  min-width: 52px;
}
