[defaults]
inventory = inventory
remote_user = deployer
deprecation_warnings = False
interpreter_python = auto_silent
host_key_checking = False
gathering = smart
local_tmp = /tmp/.ansible/tmp
remote_tmp = /tmp

[privilege_escalation]
become=True

[ssh_connection]
control_path_dir = /tmp/.ansible/cp
control_path = %(directory)s/%%h-%%r-%%p
ssh_args = -F /dev/null -o ControlMaster=auto -o ControlPersist=600s
pipelining = True
retries = 2
