.count {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--text-secondary-2);
}

.checkbox {
  margin-right: 4px;
  opacity: 0;

  &.visible {
    --mantine-cursor-type: pointer;

    opacity: 1;
  }
}
