.target {
  overflow: hidden;
}

.target_label {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  white-space: nowrap;
  user-select: none;
}

.sub_menu_arrow {
  transform: rotate(-90deg);
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.radio_group_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radio_label_wrapper {
  width: 100%;
}

.radio_label {
  padding-inline-start: 6px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
  cursor: pointer;
}
