.layer {
  color: var(--base-white);

  & .layer_button {
    --btn-color: var(--text-secondary-2);
    --btn-icon-padding: 0;
    --btn-padding-x: 0;
    --btn-bg-hover: transparent;
  }

  & .layer_button_inner {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  & .layer_button_text {
    font-size: var(--font-size-sm);
    color: var(--base-white);
  }

  & .layer_button_icon {
    flex-shrink: 0;
  }
}
