.vehicles_on_route_container {
  position: relative;
  background: var(--bg-widget);

  &.horizontal {
    flex: 1;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 99%;
      height: 1px;
      content: '';
      background: var(--text-secondary-2);
      transform: translate(-50%, -50%);
    }
  }

  &.vertical {
    flex: 1;
    border-top: 1px solid var(--bg-widget-hover);
    border-bottom: 1px solid var(--bg-widget-hover);
  }
}

.vehicle_marker_container {
  position: absolute;
  width: fit-content;

  &.horizontal {
    top: 50%;
    transform: translate(-50%, -46%);
  }
}
