.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.inputs_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 0;
}

.available_forms {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  min-height: 0;
}

.available_forms_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 0;
  padding-right: 12px;
  overflow-y: auto;
}

.left_column {
  width: 45%;
}

.available_form_group_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.available_forms_group_title_container {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.available_forms_title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--text-primary);
}

.available_forms_group_title {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--text-secondary-2);
}

.available_form_string {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  border-top: 1px solid var(--bg-widget-hover);
}

.available_form_title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
}

.available_form_column_title {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-loose);
  color: var(--base-white);
}

.radio_group_container {
  display: flex;
  flex: 1;

  [role='radiogroup'] {
    display: flex;
    flex: 1;
    gap: 8px;
  }
}

.radio_group_buttons_container {
  display: flex;
  flex: 1;
  gap: 4px;
  justify-content: space-between;
}

.radio_button_container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.button {
  width: 340px;
  margin-top: auto;
}
