.container {
  display: flex;
  flex-grow: 1;
  gap: 8px;
  align-items: center;
  margin-right: 24px;
}

.actions {
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  align-items: center;
}

.remove_button {
  color: var(--text-primary);
}

.statistics {
  display: flex;
  gap: 16px;
  margin-left: auto;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-normal);
  color: var(--text-primary);
}
